Clientes/clientes.dtd

<!ELEMENT clientes (sede+)*>
<!ELEMENT sede (direccion+|empleado|Fecha|Descripcion?|codcliente)*>
<!ELEMENT direccion (#PCDATA)>
<!ATTLIST sede codigo CDATA #REQUIRED>
<!ELEMENT empleado (#PCDATA)>
<!ELEMENT Fecha (#PCDATA)>
<!ELEMENT Descripcion (#PCDATA)>
<!ELEMENT codcliente (numero|coste|resumen?|plazo)*>
<!ATTLIST codcliente codigo CDATA #REQUIRED>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT coste (#PCDATA)>
<!ELEMENT resumen (#PCDATA)>
<!ELEMENT plazo (#PCDATA)>