Concesionario/Actividad2.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT concesionario (coche*)>
<!ELEMENT coche (codigo, matricula, marca, modelo, potencia, plazas, numPuertas)>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT numPuertas (#PCDATA)>
